.add-details-button {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.add-details-button > p {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-default);
}

.add-details-button > i {
  font-size: 25px;
  color: var(--second-color);
  cursor: pointer;
}
