.container-page h1 {
  margin-bottom: 50px;
}

@media all and (min-width: 1000px) {
  #home .offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #home .offer-container:last-child {
    justify-content: flex-start;
  }

  #home .card-container {
    width: 30%;
    margin-bottom: 20px;
  }
  .container-page span {
    color: var(--second-color);
    font-weight: 600;
    font-style: italic;
  }
}
.offer-container-offer {
  display: flex;
  flex-wrap: wrap;
}
