.userDash-item {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-block: 10px;
  padding: 5px 10px;
  align-items: center;
  background-color: var(--background-input);
  border-radius: 10px;
}

.userDash-item > p {
  font-size: 14px;
  width: 14.2%;
}

.icon-dash {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .userDash-item > p {
    font-size: 20px;
    margin-block: 10px;
    width: 14.2%;
  }

  .field-nbr {
    max-width: 25px;
    background-color: red;
  }

  .field-string {
    max-width: 155px;
  }

  .field-long-string {
    min-width: 210px;
  }

  .field-bool {
    max-width: 25px;
    margin-left: 75px;
  }

  .icon-dash {
    flex-direction: row;
    max-width: 65px;
    margin-left: 50px;
    background-color: red;
  }

  .icon-dash > button > i {
    font-size: 20px;
    margin-right: 20px;
  }
}
