.offerDash-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-block: 10px;
  padding: 5px 10px;
  align-items: center;
  background-color: var(--background-input);
  border-radius: 10px;
}

.offerDash-item > p {
  font-size: 14px;
  width: 25%;
}

.icon-dash {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .offerDash-item > p {
    font-size: 20px;
    margin-block: 10px;
  }

  .offerDash-item > p:nth-child(2) {
    white-space: initial;
    max-width: 100px;
  }

  .icon-dash {
    flex-direction: row;
  }

  .icon-dash > button > i {
    font-size: 20px;
    margin-right: 20px;
  }
}
