/* 
rgb(255, 0, 89)
border-radius 24%
*/

.header {
  color: var(--first-title-color);
  background-color: var(--main-color);
  padding-bottom: 50px;
}

.header.with-round-bottom {
  border-radius: 0% 0% var(--border-radius) var(--border-radius);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav i {
  margin: 20px;
  font-size: 28px;
}

.header .header-content {
  min-height: 150px;
}

.header .header-content.title-and-sub-title {
  min-height: 100px;
}

.header .header-content h1 {
  /* color: white; */
  font-weight: 500;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

.header .header-content h2 {
  /* color: white; */
  font-weight: 400;
  margin-left: 30px;
  margin-right: 30px;
}

.header .header-content.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header .profile-img-container {
  width: 100px;
  height: 100px;
}

.header .profile-img-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.header .header-content.user button {
  margin-top: -15px;
  background-color: white;
  padding: 4px 20px;
  border: none;
  border-radius: 50px;
}
.input-research-container {
  width: 100%;
  justify-content: center;
  background-color: var(--background-input);
  padding: 15px 20px;
  border-radius: 7px;
  border: none;
  color: var(--second-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

.input-research {
  width: 80%;
}
