.header {
  color: var(--first-title-color);
  background-color: var(--main-color);
  padding-bottom: 40px;
  margin-top: -50px;
  padding-top: 50px;
}

.edit-profile-btn {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.header.with-round-bottom {
  border-radius: 0% 0% var(--border-radius) var(--border-radius);
}

/* .header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav i {
  margin: 20px;
  font-size: 28px;
} */

.header .header-content {
  min-height: 150px;
}

.header .header-content.title-and-sub-title {
  min-height: 100px;
}

.header .header-content h1 {
  font-weight: 500;
  margin-bottom: 180px;
}

.header .header-content h2 {
  font-weight: 400;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -10px;
}
.container-header-content {
  padding-left: 30px;
  padding-bottom: 50px;
}

.text-title-2 {
  margin-top: -5px;
}

.header .header-content.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header .profile-img-container {
  width: 100px;
  height: 100px;
}

.header .profile-img-container img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.input-img {
  display: none;
}
.form-img {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}
.label-file {
  cursor: pointer;
  color: black;
  background-color: white;
  padding: 7px 12px;
  border-radius: 50px;
}

.yooo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.header .header-content.user button {
  margin-top: -15px;
  background-color: white;
  padding: 4px 20px;
  border: none;
  border-radius: 50px;
}
.input-research-container {
  height: 40px;
  border-radius: 30px;
  width: 80%;
  justify-content: center;
  background-color: var(--background-input);
  padding: 15px 20px;
  border-radius: 7px;
  border: none;
  color: var(--second-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

@media screen and (min-width: 1000px) {
  .header {
    padding-bottom: 100px;
  }
  .with-round-bottom {
    margin-bottom: 50px;
  }
  .edit-profile-btn {
    margin-top: -200px;
  }

  .header .header-content h1 {
    margin: 80px 0 130px 0;
  }
}
