* {
  margin: 0;
  padding: 0;
}
.user-profile-page {
  position: relative;
}

.label-champs {
  font-weight: 500;
  color: var(--third-title-color);
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}
.container-switch {
  margin-top: 50px;
}
