#user-profile-model .user-profile-page {
  position: relative;
}

#user-profile-model .label-champs {
  font-weight: 500;
  color: var(--third-title-color);
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.container-switch {
  margin-top: 50px;
}

#user-profile-model .formation-container {
  background-color: var(--main-bg-color);
}

@media all and (min-width: 1000px) {
  #user-profile-model .formation-container,
  #user-profile-model .experience-container {
    /* margin-top: 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #user-profile-model .card-container {
    width: 30%;
    margin-right: 20px;
  }

  #user-profile-model .exp-formation-container {
    width: 30%;
  }

  #user-profile-model h2.label-champs {
    font-size: 20px;
  }
  #user-profile-model h2.label-champs,
  #user-profile-model a {
    margin-top: 100px;
  }
  #user-profile-model .container-page {
    max-width: 900px;
  }

  #user-profile-model .container-switch .label-champs {
    margin-bottom: 50px;
  }
}
