.container-page-offre {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1280px;
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -170px;
}

.icon-share i {
  color: black;
  font-size: 20px;
}

.container-page-offre > div {
  width: 90%;
  margin: 0 auto;
}

.container-offre {
  margin-top: 20px;
  border: none;
  padding: 40px 22px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 8px rgba(217, 217, 217, 0.53);
  width: 95%;
  margin: 40px 5px 10px 5px;
}

.container-offre p {
  line-height: 1.6;
  font-weight: 400;
}
.detail-title-offre {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 500;
}
.title-offre-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-offre-container i {
  font-size: 20px;
}
.name-entreprise {
  color: var(--second-color);
  font-weight: 300;
  font-size: 16px;
}
.type-poste {
  background-color: var(--background-input);
  margin-top: 15px;
  margin-bottom: 20px;
  display: inline-block;
  color: var(--second-color);
  padding: 8px 20px;
  min-width: 50px;
  border-radius: 8px;
}
.title-offre {
  text-transform: uppercase;
  font-weight: 500;
}

.offre-date-container h1 {
  font-size: 28px;
  margin-bottom: -5px;
  font-weight: 600;
}

.offre-date-container h2 {
  font-size: 16px;
  color: var(--text-exemple);
  font-weight: 300;
}
.icon-share {
  display: flex;
  justify-content: end;
  align-items: center;
  color: black;

  font-size: 30px;
}

.offre-date-container {
  padding-left: 15px;
  padding-right: 40px;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
