.date-background {
  background-color: var(--background-input);
  padding: 15px 20px;
  border-radius: 7px;
  border: none;
  color: var(--second-color);
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin-top: 5px;
}

.label-champs-date {
  font-weight: 500;
  color: var(--third-title-color);
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.container-date {
  margin: 40px 0 10px 0;
}
