.title-page {
  color: var(--texte-default);
  font-size: 2.3rem;
  font-weight: 700;
}

.title-offer {
  color: var(--texte-default);
  margin-top: -20px;
}

.company-offer {
  color: var(--second-color);
  font-size: 1rem;
}

.description-word {
  color: var(--texte-default);
  font-size: 1.2rem;
  margin: 40px 0px -10px 0px;
}

.p-description {
  margin-bottom: 30px;
}

.sub-title {
  margin-bottom: -5px;
}

.info-offer {
  color: var(--texte-default);
}
