.container-page-offre > div {
  width: 90%;
  margin: 0 auto;
}

.offre-container {
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.container-checkbox-experience {
  margin-top: 20px;
  margin-left: 10px;
}
