.card-container {
  border: none;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 5px 5px 15px 8px rgba(217, 217, 217, 0.53);
  margin: 20px 15px;
  overflow: hidden;
}

.label-offre {
  font-weight: 500;
  color: var(--third-title-color);
  text-transform: uppercase;
  font-size: 16px;
}

.entreprise-champs {
  color: var(--second-color);
  font-weight: 400;
  font-size: 16px;
}

.entreprise-champs.experience {
  margin-top: -8px;
}

.entreprise-champs.formation {
  margin-top: -8px;
}

.poste-champs {
  color: var(--texte-default);
  font-weight: 400;
  font-size: 15px;
}

.poste-champs.experience {
  font-style: italic;
}

.p-description {
  line-height: 1.6;
  margin-top: 6px;
}
.date-poste {
  color: var(--text-exemple);
  font-weight: 400;
  font-size: 15px;
  margin-top: 4px;
}
.card-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  color: var(--second-color);
}
.card-icons i {
  margin-left: 10px;
  cursor: pointer;
  color: var(--second-color);
}
.icon-modify {
  padding: 5px;
}

.icon-trash {
  padding: 5px;
}
.icon-view {
  padding: 5px;
}

@media (min-width: 1000px) {
  .card-container {
    margin-left: 0;
    margin-right: 0;
  }
}
