.submit-btn-mini {
  background-color: var(--second-color);
  color: var(--text-btn);
  padding: 18px 30px;
  border: 0;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
}
