* {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
}

.container-header {
  display: flex;
  justify-content: space-between;
  background-color: #c91f61;
  width: 100%;
  height: 250px;
  border-radius: 0% 0% 24% 24%;
}

.back {
  font-size: 30px;
  margin: 20px 0 0 20px;
}

.fa-arrow-left {
  color: white;
  font-size: 30px;
}

.user {
  margin-top: 50px;
  margin-right: -50px;
}

.fa-circle-user {
  font-size: 110px;
  color: white;
}

.modify {
  border-radius: 20px;
  font-weight: bold;
  border: none;
  position: absolute;
  top: 150px;
  left: 142px;
  width: 110px;
  height: 23px;
}

.titre {
  position: absolute;
  top: 185px;
  right: 50px;
  font-size: 30px;
  color: white;
  font-family: Jost, sans-serif;
  font-weight: 500;
}
