body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
}

.img-fluid {
  width: 100%;
  height: auto;
}

/* Style des boutons */
.submit-btn {
  background-color: var(--second-color);
  color: var(--text-btn);
  padding: 20px 30px;
  border: 0;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  width: 90%;
}

/* Style des paragraphes*/
.p-description {
  line-height: 1.6;
}

.p-checkbox {
  color: var(--text-exemple);
  font-weight: 300;
}

/* Style interface Login */
.login-title {
  font-size: 36px;
  color: var(--second-title-color);
}

/* Style des titres */
.first-title-white {
  font-size: 36px;
  color: var(--first-title-color);
}
.first-title-black {
  font-size: 30px;
  color: var(--second-title-color);
  font-weight: 600;
}

/* Style du profil user */

.name-user {
  font-size: 30px;
  color: black;
  font-weight: 600;
}

.title-add-something {
  font-size: 24px;
  color: var(--second-title-color);
  font-weight: 500;
}
